@charset "utf-8";

.item-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 560px);
    column-gap: 0;
    row-gap: 80px;
    justify-content: center;
}

.item-1-inner {
    display: flex;
    width: 160px;
    min-height: 560px;
    justify-content: center;
    align-items: flex-start;
    background: var(--ss-blue, #2A4073);
}

.item-2 {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.item-2-inner {
    display: flex;
    padding: 40px;
    min-height: 440px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
    background: var(--portfolio-white, #FFF);
}

.item-title p {
    color: var(--portfolio-black, var(--gray-900, #222));
    font-size: 74px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
}

.item-description-bold p {
    color: var(--portfolio-gray-900, #222);
    /* Portfolio/24px-Bold */
    font-family: Noto Sans JP;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 38.4px */
}

.item-description-ja {
    /* Portfolio/24px-Regular */
    font-family: Noto Sans JP;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
}

.item-contact {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    vertical-align: bottom;
    background: var(--ss-pink, #F09199);
}

.item-contact a {
    color: var(--portfolio-gray-900, #222);
    text-align: center;
    
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    vertical-align: bottom;
    letter-spacing: 0.084px;
}

.item3 {
    display: flex;
}

.item-3-inner {
    display: flex;
    margin: 0 0 0 auto;
    min-height: 560px;
    padding: 40px;
    flex-direction: column;
    gap: 40px;
}

.item-more {
    color: var(--portfolio-whise, #FFF);
    background-color: #222;
    text-align: right;

    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.052px;
}

.item-4 {
    background-color: #2A4073;
}

.item-4-inner {
    display: flex;
    height: 560px;
    align-items: center;
    gap: 8px;
    background-color: #B3B3B3;
    justify-content: flex-end;
}

.item-4-inner-content {
    width: 160px;
    height: 560px;
    background: var(--ss-blue, #2A4073);
}

.item-5 {
    background-color: #2A4073;
}

.item-5-inner {
    display: flex;
    margin: 0 0 0 auto;
    display: flex;
    min-height: 560px;
    padding: 60px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.item-5-inner img {
    width: 80%;
    max-width: 440px;
    flex-shrink: 0;
    border-radius: 50%;
    background: url("../images/momoko.jpeg"), lightgray 50% / cover no-repeat;
}

.item-6-inner {
    display: flex;
    min-height: 560px;
    padding: 40px;
    flex-direction: column;
    gap: 40px;
}

.item-7 {

}

.item-7-inner {
    display: flex;
    margin: 0 0 0 auto;
    min-height: 440px;
    padding: 40px;
    flex-direction: column;
    gap: 40px;
}

.item-8 {
    background-color: #2A4073;
}

.item-inquiry {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    vertical-align: bottom;
    background: var(--ss-pink, #F09199);
}

.item-inquiry a {
    color: var(--portfolio-gray-900, #222);
    text-align: center;
    
    /* Portfolio/32px-Bold */
    font-family: Noto Sans JP;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 51.2px */
}

@media (max-width: 800px) {
    .item-list {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 56px;
    } 

    .item {
        max-width: 180px;
        margin: 0 auto;
    }

    .item-1 {
        display: none;
        order: 1;
    }

    .item-2 {
        order: 2;
        margin-top:15px;
    }

    .item-3 {
        order: 4;
    }

    .item-4 {
        order: 3;
    }

    .item-5 {
        width: 180px;
        height: 160px;
        order: 5;
    }

    .item-6 {
        order: 6;
    }

    .item-7 {
        order: 8;
    }

    .item-8 {
        order: 7;
    }

    .item-inner {
        padding: 0;
        gap: 8px;
    }

    .item-1-inner {
        display: none;
    }

    .item-2-inner {
        padding: 8px;
        max-height: 140px;
        min-height: 100px;
        gap: 8px;
        flex-shrink: 0;
    }

    .item-3-inner {
        max-height: 140px;
        min-height: 132px;
        height: 132px;
    }

    .item-4-inner {
        max-height: 140px;
        min-height: 140px;
        width: 180px;
    }

    .item-4-inner-content {
        width: 40px;
        height: 140px;
    }

    .item-5-inner {
        max-height: 160px;
        height: 160px;
        min-height: 140px;
        display: flex;
        justify-content: flex-end;
    }

    .item-5-inner img {
        max-width: 130px;
        margin-right: 8px;
        width: 100%;
    }

    .item-6-inner {
        max-height: auto;
        min-height: auto;
    }

    .item-7-inner {
        max-height: auto;
        min-height: auto;
        padding-bottom: 8px;
    }

    .item-8-inner {
        max-height: 140px;
        min-height: 140px;
        width: 180px;
    }

    .item-title p {
        font-size: 26px;
        letter-spacing: 0.052px;
    }

    .item-description-bold p {
        font-size: 12px;
        letter-spacing: 0.024px;
    }

    .item-description-ja {
        font-size: 12px;
    }

    .item-contact {
        height: 40px;
    }

    .item-contact a {
        font-size: 16px;
        letter-spacing: 0.032px;
    }

    .item-more {
        font-size: 16px;
        letter-spacing: 0.032px;
    }

    .item-inquiry {
        height: 40px;
    }

    .item-inquiry a {
        font-size: 14px;
    }
}